/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
  --font-quicks: "Quicksand", sans-serif;
  --color-ptlbrown-100: #e7b574;
  --color-ptlbrown-200: #d7a460;
  --color-ptlbrown-300: #c48f4a;
  --color-correct: #00b303;
  --color-wrong: #d10000;
  --animate-modalentry: modalEntry 0.5s ease-in-out forwards;
  --animate-modalexit: modalExit 0.5s ease-in-out forwards;
  --animate-bgmodalfadein: bgModalFadeIn 0.5s ease-in-out forwards;
  --animate-bgmodalfadeout: bgModalFadeOut 0.5s ease-in-out forwards;
}
@plugin "tailwind-scrollbar-hide";

/* BASE */
@layer base {
  body {
    @apply font-quicks min-w-[360px];
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e7b574 inset !important;
    -webkit-text-fill-color: var(--color-red-950) !important;
  }
  label {
    @apply items-center tracking-widest text-red-950;
  }
}
/* COMPONENTS */
@layer components {
  /* ABOUT */
  .about-parag {
    @apply text-justify indent-7 font-bold;
  }
  /* MODIFY */
  .modal-form-field {
    @apply flex flex-col flex-1 gap-y-1 items-center;
  }
  .modal-form-priority {
    @apply flex w-full font-bold text-xl gap-x-5 ml-2 justify-center;
  }
  .modal-form-priority > * {
    @apply grid h-12 flex-1 place-items-center text-center tracking-widest rounded-full border-3 box-border select-none cursor-pointer hover:scale-110 transition duration-200;
  }
  #select-category-options {
    @apply absolute w-full border border-yellow-700 text-red-950 bg-ptlbrown-100 select-none rounded shadow mt-1 z-10 transition-[max-height] duration-500 ease-in-out overflow-y-auto scrollbar-hide;
  }
}
/* UTILITIES */
@layer utilities {
  .bg-rough-brown {
    @apply bg-[url(/images/content-bg.jpg)];
  }
  .bg-smooth-brown {
    @apply bg-[url(/images/header-bg.jpg)];
  }
  .hover-icon-bigger {
    @apply transition-all duration-200;
  }
  .hover-icon-bigger:hover {
    width: calc(6% + 0.25em);
    height: calc(6% + 0.25em);
  }
  @keyframes modalEntry {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0;
    }
  }
  @keyframes modalExit {
    from {
      bottom: 0;
    }
    to {
      bottom: -100%;
    }
  }
  @keyframes bgModalFadeIn {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
    @keyframes bgModalFadeOut {
    from {
      background-color: rgba(0, 0, 0, 0.25);
    }
    to {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
