/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
  --font-quicks: "Quicksand", sans-serif;
  --color-ptlbrown-100: #e7b574;
  --color-ptlbrown-200: #d7a460;
  --color-ptlbrown-300: #c48f4a;
}

/* LAYERS */
@layer base {
  body {
    @apply bg-[url(/images/content-bg.jpg)] bg-center bg-no-repeat bg-cover bg-fixed font-quicks min-w-[360px] transition duration-300 ease-in;
  }
}
/* COMPONENTS */
@layer components {
  /* ABOUT */
  .about-parag {
    @apply text-red-950 text-justify indent-7 font-bold;
  }
  /* HEADER */
  .main-header {
    @apply bg-center pt-3 px-2 transition duration-500 ease-in-out;
  }
  .main-header nav ul li {
    @apply flex flex-1 py-2 justify-center items-center transition duration-500 ease-in-out active:border-yellow-900/75 [&:nth-child(4)]:active:border-ptlbrown-100/75;
  }
  .main-header-nav-bar-icon {
    @apply relative w-5 h-5;
  }
  .main-header-nav-bar-icon img {
    @apply absolute object-contain transition duration-500 ease-in-out;
  }
  /* HOME */
  .page-home-control-buttons {
    @apply place-items-center py-2 rounded-3xl cursor-pointer text-red-950 font-bold bg-ptlbrown-100 hover:bg-ptlbrown-200 ;
  }
  .page-home-controls {
    @apply flex w-full bg-[url(/images/header-bg.jpg)] bg-cover bg-center rounded-2xl justify-between gap-x-3 overflow-x-auto snap-x snap-mandatory opacity-75;
  }
  .page-home-control {
    @apply flex flex-col h-20 shrink-0 w-full snap-center p-1;
  }
  .page-home-control ol {
    @apply grid grid-cols-3 p-1 gap-2 overflow-y-auto snap-proximity;
  }
  .page-home-list {
    @apply flex bg-ptlbrown-100/70 h-[69vh] rounded-4xl overflow-hidden border-red-950;
  }
  .page-home-list ol {
    @apply flex flex-col w-full overflow-y-auto p-3 gap-y-2;
  }
  .page-home-list ol li {
    @apply flex flex-col shrink-0 justify-between items-center w-full h-14 bg-red-950/75 font-bold text-2xl rounded-3xl text-ptlbrown-200;
  }
  .page-home-list-item-propery {
    @apply flex items-center w-3/4 h-5 text-sm rounded-t-2xl bg-yellow-900/75 p-1 justify-around gap-x-1 border border-ptlbrown-100;
  }
  /* MODIFY */
  .page-modify {
    @apply flex flex-col bg-[url(/images/header-bg.jpg)] bg-cover bg-no-repeat bg-center bg-fixed;
  }
  .page-modify-action-button {
    @apply bg-ptlbrown-100 rounded-full border-2 border-red-950 w-14 p-2;
  }
  .page-modify-sheets {
    @apply flex gap-x-4 w-full overflow-x-auto snap-x snap-mandatory px-10 pb-3;
  }
  .page-modify-sheet {
      @apply flex flex-col shrink-0 w-full h-[73vh] rounded-3xl snap-center;
  }
  .page-modify-sheet h1 {
    @apply flex text-center rounded-t-3xl h-10 justify-center items-center font-bold flex-shrink-0 text-white relative bg-red-950;
  }
  .page-modify-sheet-list {
    @apply flex w-full h-full rounded-b-3xl bg-ptlbrown-100 justify-center overflow-hidden;
  }
  .page-modify-sheet-list ol {
    @apply flex flex-col w-full overflow-y-auto;
  }
  .page-modify-sheet-list ol li {
    @apply flex w-full shrink-0 flex-col justify-around items-center h-18 font-bold border-b-3 border-b-yellow-700/75 text-2xl;
  }
  /* FOOTER */
  .main-footer {
    @apply px-20 py-5 text-center text-[14px] bg-center font-bold transition duration-300 ease-in;
  }
}
